body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: wheat;
}

header {
    background-color: gray;
    color: white;
    text-align: center;
    padding: 1rem;
}

h1, h2 {
    margin-bottom: 0.5rem;
}

main {
    padding: 2rem;
}

div {
    background-color: white;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}






